"*":
  Hydrogen:
    debug: true
  "atom-latex":
    bibtex: "biber"
    build_after_save: false
    file_ext_to_clean: "*.aux, *.bbl, *.blg, *.idx, *.ind, *.lof, *.lot, *.out, *.toc, *.acn, *.acr, *.alg, *.glg, *.glo, *.gls, *.ist, *.fls, *.log, *.fdb_latexmk, *.bcf, *.xml, *.synctex.gz"
    focus_viewer: true
    hide_log_if_success: true
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    disabledPackages: [
      "markdown-preview"
      "linter"
    ]
    excludeVcsIgnoredPaths: false
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "firewatch-syntax"
    ]
    uriHandlerRegistration: "always"
  editor:
    fontFamily: "Roboto Mono, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 13
  "exception-reporting":
    userId: "1029e299-a145-45b1-a182-3b697d4b3e90"
  "file-icons":
    coloured: false
  "fuzzy-finder":
    scoringSystem: "fast"
    useRipGrep: true
  "ide-python":
    pylsPlugins:
      flake8:
        maxLineLength: 90
      pycodestyle:
        ignore: [
          "E121"
          "E123"
          "E126"
          "E226"
          "E24"
          "E704"
          "W503"
          "E231"
          "E251"
          "E127"
        ]
        maxLineLength: 90
  "linter-ui-default":
    useBusySignal: false
  minimap: {}
  "spell-check":
    addKnownWords: true
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "source.rst"
      "text.restructuredtext"
      "text.tex.latex"
    ]
    knownWords: [
      "Ub"
      "uncleaved"
      "kDa"
      "deubiquitinases"
      "Pruneda"
      "supercite"
      "beta$ME"
      "NeutrAvidin"
      "beta$ME"
      "Laemmli"
      "elutions"
      "UbiReal"
      "cisTEM"
      "flENaC"
      "cryoDRGN"
      "FAbs"
      "Streptactin"
      "Superdex"
      "Trp"
      "Superose"
      "deubiquitinase"
      "Cys"
      "cryoSPARC"
      "bioarxiv"
      "numberline"
      "textit"
    ]
  "tool-bar":
    position: "Left"
    visible: false
  welcome:
    showOnStartup: false
".latex.tex.text":
  editor:
    scrollPastEnd: false
